.bloc {
    font-family: "Century Gothic", Avenir, Futura, sans-serif;
    background-color: #dfe3ee;
    font-size: 0.9em;
    border-radius: 2em;

    width: 60%;

    margin-bottom: 2em;
    padding: 0.5em 1em 1em;
}

.bloc_configuration {
    float: right;

    font-family: "Century Gothic", Avenir, Futura, sans-serif;
    background-color: #8b9dc3;
    font-size: 0.9em;
    border-radius: 2em;

    margin-left: 70%;

    margin-bottom: 2em;
    padding: 0.5em 2em;
}